body {
    -webkit-overflow-scrolling: touch;
}
.app {
    min-height: 20px !important;
    border-radius: 0px !important;
}

.app { min-width: 320px !important; }
.media-panel-header .menu-item { padding: 0 !important; } /* media viewer header icon */
.media-panel-header .menu-item:first-child { display: none; } /* msg bubble icon in media viewer */
.media-content .btn-media-next,
.media-content .btn-media-prev { margin-left: 5px; margin-right: 5px; display: none; } /* media viewer left/right button */
.message-ptt { width: 250px; }
.message-ptt .bubble-audio { width: 100%; }
.message-in .bubble-attach .meta-audio { right: 162px !important; }
.pane-chat-footer .block-compose .input-container .input-placeholder {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@media screen and (max-width: %mobileWidth%px) {
    .app { min-width: 320px !important; }
    .media-panel-header .menu-item { padding: 0 !important; } /* media viewer header icon */
    .media-panel-header .menu-item:first-child { display: none; } /* msg bubble icon in media viewer */
    .media-content .btn-media-next,
    .media-content .btn-media-prev { margin-left: 5px; margin-right: 5px; display: none; } /* media viewer left/right button */
    .message-ptt { width: 250px; }
    .message-ptt .bubble-audio { width: 100%; }
    .message-in .bubble-attach .meta-audio { right: 162px !important; }
    .pane-chat-footer .block-compose .input-container .input-placeholder {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.app ._3q4NP._1Iexl .pane-chat-footer { min-height: 52px !important; }
.app ._3q4NP._1Iexl .pane-chat-footer .input-container { padding: 5px 6px !important; }
html[dir=ltr] ._2_FdF {
    margin-left: 8px;
    margin-right: 8px;
}
html[dir=ltr] ._4GQj1 {
    margin-left: 8px;
    margin-right: 8px;
}

@media screen and (max-height: %mobileHeight%px) {
    .app ._3q4NP.k1feT .pane-list-header { display: none !important; }
    .app ._3q4NP._1Iexl .pane-chat-footer { min-height: 52px !important; }
    .app ._3q4NP._1Iexl .pane-chat-footer .input-container { padding: 5px 6px !important; }
    .app ._3q4NP._1Iexl .pane-chat-header { display: none !important; }
}
 /* .media-panel-header .menu-item:nth-child(3) { display: none; } /* forward icon in media viewer */
    .bubble-image { max-width: 260px !important; }
    .bubble-image .image-thumb { max-width: 260px !important; }
    .popup-tower { max-width: 300px; } /* forward popup window */
@media screen and (max-width: 375px) {
    .media-panel-header .menu-item:nth-child(3) { display: none; } /* forward icon in media viewer */
    .bubble-image { max-width: 260px !important; }
    .bubble-image .image-thumb { max-width: 260px !important; }
    .popup-tower { max-width: 300px; } /* forward popup window */
}
/* hide the message textbox to prevent keyboard show up automatically */
/*.pane-chat-footer .block-compose .input-container {
    min-height: 42px;
}*/
/*.pane-chat-footer .block-compose .input-container .input {
    visibility: hidden;
}*/

/* settings - notification sound */
/*.list-settings .chat:first-child:not(.drawer-list-item) {
    display: none;
}*/
.drawer-notifications .controls-container .controls-section:first-child {
    display: none;
}
/* attachment - camera */
/*.menu-icons .menu-shortcut:nth-child(2) {
    display: none;
}*/

/* QR code screen */
/*@media screen and (max-width:880px) {
  #window .entry-main { margin-left: 0px; margin-right: 0px; }
  #window .entry-main .entry-text .entry-title,
  #window .entry-main .entry-text .entry-subtitle,
  #window .entry-main .entry-text .entry-controls { margin-left: 60px; margin-right: 60px; }
}*/

#window .entry-main { margin-left: 0px; margin-right: 0px; }
#window .entry-main .entry-text .entry-title,
#window .entry-main .entry-text .entry-subtitle,
#window .entry-main .entry-text .entry-controls { margin-left: 60px; margin-right: 60px; }
#platforms { display: none; }
#window .entry-main .entry-text .entry-title,
#window .entry-main .entry-text .entry-subtitle {
    visibility: hidden;
}
#window .entry-main .entry-text .entry-title::before {
    visibility: visible;
    content: 'Whatsapp';
    padding-bottom: 20px;
    font-size: 28px;
}
#window .entry-main .entry-text .entry-subtitle::before {
    visibility: visible;
    content: 'Use the target mobile to scan the code';
    font-weight: 300;
    -webkit-box-flex: 0;
    -webkit-flex: 0;
    -ms-flex: 0;
    flex: none;

}
.qr-wrapper-container {
    margin-left: -160px
}


